* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation Styles */
nav {
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    font-size: large;
    font-weight: 4vh;
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: red;

}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

/* About Section Styles */
#about {
    background-color: red;
    padding: 100px 0;
    font-size: 3vh;
}

/* Services Section Styles */
#services {
    font-size: 3vh;
    background-color: red;
    padding: 100px 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.service {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
    margin-top: 0;
}

/* Contact Section Styles */
#contact {
    padding: 100px 0;
    background-color: #333;
    color: #fff;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#contact button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
}